<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="/static/layui/layui.js" type="text/javascript"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="common/header::#h"></div>


<script src="/static/layui/layui.all.js" type="text/javascript"></script>

</body>

</html>